html, body {
    margin: 0;
    font-family: FuturaPT, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    color: #8f8f8f;
    font-weight: 500;
    }
.Popupactive{
 filter: brightness(0.5);
}
